<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> <html>
<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>

<body>
	<h3>This message was sent using the 'Contact Us' form on http://www.swapmywhip.com</h2>
	<p>
		Here are the details of the message:<br />
		<br />
		From:    <%=h @message.name %><br />
		Email:   <%=h @message.email %><br />
		Phone:   <%=h @message.phone %><br />
		Subject: <%=h @message.subject %><br />
		Message: <%=h @message.body %><br />
	</p>
</body>
</html> 
