<%= form_for(motolistingsresults_motolistings_path(:listing_type => 'moto')) do |f| %>
	<fieldset class="RefineSearch">
		<legend style="font-weight:bold; font-size:1.2em;">Refine Search</legend>
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<div class="blackCategoryText">
					<%# f.fields_for @search.conditions do |listings| %>
						<td align="left" valign="top">
							<%= label_tag "Category:" %>
							<br/>
                          <%= select_tag("category", options_from_collection_for_select(@motocategories,"id", "category",:selected => params[:category]),
                                         :prompt => "-Select a Category")%>
						</td>
						<td>
							<%= label_tag "Make:" %>
							<br/>
                          <%= select_tag :make, options_for_select(@motomakes.map {|s| [s.make, s.make]},:selected => params[:make]),
                                         {prompt: "Select a Make"} %>
						</td>
						<td>
							<%= label_tag "Max Price:($)" %>
							<br/>
							<%= text_field_tag :price_lt, '', :size => 6, :value => params[:price_lt] %>
						</td>
						<%# listings.fields_for @search.conditions.owner do |owner| %>
						<td>
							<%= label_tag "State:" %>
							<br/>
                          <%= select_tag("state_is",options_from_collection_for_select(Listing::STATES, 'to_s' , 'to_s',:selected => params[:state_is]) , {:prompt => "-Select State"}) %>
						</td>
						<%# end %>
						<td>
                          <%= hidden_field_tag :listing_type, "moto" %>
							<br/>
							<%= f.submit "Basic Search", :id => "Submit" %>
						</td>
					<%# end %>
				</div>
			</tr>
		</table>
	</fieldset>
<% end %>
