<%= form_for([@user, @listing]) do |f| %>

<table width="100%" border="0" cellpadding="1" cellspacing="0">
<% if @listing.errors.any? %>
    <div id="errorExplanation">
      <h2><%= pluralize(@listing.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% @listing.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
      </ul>
    </div>
<% end %>

	<tr>
		<td width="10%">
			<b>Year:</b>
		</td>
		<td>
		<%= f.text_field :year, :size => 15 %>
<!--	Uncomment if we decide to "lock" listings		
			<% if @listing.year.blank? %>
				<%= f.text_field :year, :size => 15 %>
			<% else %>
				<%= f.text_field :year, :size => 15, :disabled => true %>
			<% end %>
-->
		</td>
	<tr>
		<td colspan="2">
			<%= image_tag "divider_line.png", :size => "267x2" %>
		</td>
	</tr>
	<tr>
		<td width="10%">
			<b>Make:</b>
		</td>
		<td>
		<%= f.collection_select :make, @automakes, :make, :make, {:prompt => "-Select a Make-"} %>
<!--	Uncomment if we decide to "lock" listings	
			<% if @listing.make.blank? %>
				<%= f.collection_select :make, @automakes, :make, :make, {:prompt => "-Select a Make-"}, {:onChange => remote_function(:url => {:action => 'get_automodels'}, :with => "'make=' + this.value")} %>
			<% else %>
				<%= f.text_field :make, :size => 15, :disabled => true %>
			<% end %>
-->
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<%= image_tag "divider_line.png", :size => "267x2" %>
		</td>																																					
	</tr>
	<tr>
		<td width="10%">
			<b>Model:</b>
		</td>
		<td>
		<div id='automodelsdiv'>
			<%= render :partial => 'automodels_select' %>
		</div>


<!--	Uncomment if we decide to "lock" listings	
			<% if @listing.model.blank? %>
				<div id='automodelsdiv'>
					<%= render :partial => 'automodels_select' %>
				</div>
			<% else %>
				<%= f.text_field :model, :size => 15, :disabled => true %>
			<% end %>
-->
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<%= image_tag "divider_line.png", :size => "267x2" %>
		</td>
	</tr>
	<tr>
		<td width="10%">
			<b>Category:</b>
		</td>
		<td>
			<%= f.collection_select :body, @autocategories, :category, :category, {:prompt => "-Select a Category"} %>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<%= image_tag "divider_line.png", :size => "267x2" %>
		</td>
	</tr>
	<tr>
		<td width="10%">
			<b>Exterior Color:</b>
		</td>
		<td>
			<%= f.text_field :exterior_color, :size => 15 %>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<%= image_tag "divider_line.png", :size => "267x2" %>
		</td>
	</tr>
	<tr>
		<td width="10%">
			<b>Interior Color:</b>
		</td>
		<td>
			<%= f.text_field :interior_color, :size => 15 %>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<%= image_tag "divider_line.png", :size => "267x2" %>
		</td>
	</tr>
	<tr>
		<td width="10%">
			<b>Doors:</b>
		</td>
		<td>
			<%= f.select(:doors, [2,3,4,5], {:prompt => "-Select Doors"}) %>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<%= image_tag "divider_line.png", :size => "267x2" %>
		</td>
	</tr>
	<tr>
		<td width="10%">
			<b>Engine:</b>
		</td>
		<td>
			<%= f.select(:engine, ['3 Cylinder','4 Cylinder','5 Cylinder','6 Cylinder','7 Cylinder','8 Cylinder','9 Cylinder','10 Cylinder','11 Cylinder','12 Cylinder','Rotary','Alternative'], {:prompt => "-Select Engine"}) %>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<%= image_tag "divider_line.png", :size => "267x2" %>
		</td>
	</tr>
	<tr>
		<td width="10%">
			<b>Transmission:</b>
		</td>
		<td>
			<%= f.select(:transmission, ['Auto','Manual'], {:prompt => "-Select Transmission"}) %>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<%= image_tag "divider_line.png", :size => "267x2" %>
		</td>
	</tr>
	<tr>
		<td width="10%">
			<b>Drive:</b>
		</td>
		<td>
			<%= f.select(:drive, ['2WD','4WD','AWD'], {:prompt => "-Select Drive"}) %>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<%= image_tag "divider_line.png", :size => "267x2" %>
		</td>
	</tr>
	<tr>
		<td width="10%">
			<b>Fuel:</b>
		</td>
		<td>
			<%= f.select(:fuel, ['Gasoline','Diesel','Alternative'], {:prompt => "-Select Fuel"}) %>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<%= image_tag "divider_line.png", :size => "267x2" %>
		</td>
	</tr>
	<tr>
		<td width="10%">
			<b>Mileage:</b>
		</td>
		<td>
			<%= f.text_field :mileage, :size => 15 %> <i>* No commas please</i>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<%= image_tag "divider_line.png", :size => "267x2" %>
		</td>
	</tr>
	<tr>
		<td width="10%">
			<b>VIN:</b>
		</td>
		<td>
			<% if @listing.vin.blank? %>
				<%= f.text_field :vin, :size => 20 %>
			<% else %>
				<%= f.text_field :vin, :size => 20, :disabled => true %>
			<% end %>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<%= image_tag "divider_line.png", :size => "267x2" %>
		</td>
	</tr>
	<tr>
		<td width="10%">
			<b>Price:</b>
		</td>
		<td>
			<%= f.text_field :price, :size => 15 %> <i>* No commas please</i>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<%= image_tag "divider_line.png", :size => "267x2" %>
		</td>
	</tr>
	<tr>
		<td width="10%">
			<b>Description:</b>
		</td>
		<td>
			<%= f.text_area :desc, :columns => 15, :rows => 20 %>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<%= image_tag "divider_line.png", :size => "267x2" %>
		</td>
	</tr>
	<tr>
    <td align="left" valign="center">
    	<%= f.submit 'Submit Changes', :id => "Submit" %>
    </td>
  </tr>
</table>

<% end %>


<script>
    $( document ).ready(function() {

        $('#listing_make').change(function() {
            alert('hi');
            alert($(this).val());
            if ($(this).val() == '')
            {
                $('#listing_model').html( $('<option>No model provided for your make</option>'));
            }
            else {
                $.ajax({
                    type: "GET",
                    url: "/autolistings/get_automodels?make=" + $(this).val(),
                    success: function(data){
                        if (data.content == 'None')  //handle the case where no state related to country selected
                        {
                            $('#listing_model').empty();
                            $('#listing_model').append( $('<option>No model provided for your make</option>'));
                        }
                        else
                        {
                            $('#listing_model').empty();
                            $('#listing_model').append( $('<option>Select your Model</option>'));
                            jQuery.each(data,function(i, v) {
                                $('#listing_model').append( $('<option value="'+ data[i][1] +'">'+data[i][0] +'</option>'));
                            });
                        }
                    }
                });
            }
        });
    });
</script>

