<% if @listings_count > 0 %>
	<%= @listings_count %> listings found.
		<table class="searchresults" border="1" cellpadding="4">
  		<tr>
  			<th></th>
  			<th><%= remote_order_by_link :year %></th>
  			<th><%= remote_order_by_link :make %></th>
  			<th><%= remote_order_by_link :model %></th>
  			<th><%= remote_order_by_link :price %></th>
  			<th><%= remote_order_by_link :owner %></th>
  		</tr>
  		<% @listings.each do |listing| %>
	  		<tr>
	  			<td>
	  			<% listing.photos.all(:limit => 1).each do |photo| %>
	  		  	<%= image_tag smallphoto_url(photo, :jpg), :alt => photo.name %></td>
			    <% end %>
			    </td>
			    <td><%=h listing.year %></td>
			    <td><%=h listing.make %></td>
			    <td><%=h listing.model %></td>
			    <td><%=h listing.price %></td>
			    <td><%=h listing.owner.username %></td>
			    <td><%= link_to 'Show', listing %></td>
			  </tr>
			<% end %>
		</table>
		<br/>
		Per Page: <%= remote_per_page_select %>
		<% if @search.page_count > 1 %>
			<div class="pages">
				<%= remote_page_links %>
			</div>
		<% end %>
<% else %>
	No listings found.
<% end %>
