<script>

    jQuery(document).ready(function() {
        $(function() {

            $('#iagree').click(function() {
                if ($(this).is(':checked')) {
                    $('#submitButton').removeAttr('disabled');

                } else {
                    $('#submitButton').attr('disabled', 'disabled');
                }
            });
        });
    });

</script>


<div class="clear"></div>
<div id="content">
  <div class="page">
    <div class="rightcontent">
      <div class="ad1"> <img src="/assets/ad1.jpg" width="300" height="125" /> </div>
      <div class="ad2"> <img src="/assets/ad2.jpg" width="300" height="125" /> </div>
      <div class="ad3"> <img src="/assets/ad3.jpg" width="300" height="250" /> </div>
    </div>
    <div class="leftcontent">
      <div class="uppercontent"> <span class="boldclass">Edit </span> <span>User</span>
        <div class="clear"></div>
        <div class="contactwidget">
          <%= form_for(@user) do |f| %>
              <% if @user.errors.any? %>
                  <div id="errorExplanation">
                    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this post from being saved:</h2>

                    <ul>
                      <% @user.errors.full_messages.each do |message| %>
                          <li><%= message %></li>
                      <% end %>
                    </ul>
                  </div>
              <% end %>
              <div class="email">
                <label>Email*</label>
                <%= f.text_field :email, :size => 20 %>
                <span class="infoText">
			    <%#= link_to "Why do we need your email?", "../needemail.html", :popup => ['Swap My Whip - Vehicle Trading & Purchasing', 'height=400,width=400'] %>
			  </span>
              </div>
              <div class="firstname">
                <label>first name*</label>
                <%= f.text_field :firstname, :size => 20 %>
              </div>
              <div class="lastname">
                <label>last name*</label>
                <%= f.text_field :lastname, :size => 20 %>
              </div>
              <div class="phoneno">
                <label>phone</label>
                <%= f.text_field :phone, :size => 20 %>
              </div>
              <div class="address">
                <label>address*</label>
                <%= f.text_field :address, :size => 20 %>
              </div>
              <div class="address">
                <label>address 2</label>
                <%= f.text_field :address2, :size => 20 %>
              </div>
              <div class="city">
                <label>city*</label>
                <%= f.text_field :city, :size => 20 %>
              </div>
              <div class="city">
                <label>state*</label>
                <%= f.select(:state, ['AK','AL','Alberta','AR','AZ','British Columbia','CA','CO','CT','DE','FL','GA','HI','IA',
                                      'ID','IL','IN','KS','KY','LA','MA','Manitoba','MD','ME','MI','MN','MO','MS','MT','NC','ND',
                                      'NE','New Brunswick','Newfoundland and Labrador','NH','NJ','NM','Nova Scotia','NV','NY','OH',
                                      'OK','Ontario','OR','PA','Prince Edward Island','Quebec','RI','Saskatchewan','SC','SD','TN','TX',
                                      'UT','VA','VT','WA','WI','WV','WY'], {:prompt => "-Select State/Province", :class=>"sl_width"}) %>
              </div>
              <div>
                <label>zip code*</label>
                <%= f.text_field :zip, :size => 20 %>
              </div>

              <div class="desiredusername">
                <label>Username</label>
                <%= f.text_field :username, :size => 20 %>
              </div>
              <div class="password">
                <label>Password</label>
                <%= f.password_field :password, :size => 20 %>
                <p id="parsswordMargin">Enter 5-20 letters or numbers, case sensitive.</p>
              </div>
              <div class="confirmpassword">
                <label>confirm password*</label>
                <%= f.password_field :password_confirmation, :size => 20 %>
              </div>
              <div style="float-left;">
                <label><%= f.submit 'Register', :id => "submitButton", :class => "sub" %></label>
              </div>
              </div>
              <div class="clear"></div>

          <%end%>
          <div class="clear"></div>
          </div>
    </div>
  </div>
</div>

<div class="clear"></div>
</div>










<table width="100%" border="0" cellpadding="20" cellspacing="0">
	<tr>
		<td align="left" valign="top">
			<h3>Edit User Profile<br /></h3>
			
			<%= form_for(@user) do |f| %>
				<table width="830" border="0" cellspacing="1" cellpadding="1">
					<tr>
                      <% if @user.errors.any? %>
                          <div id="errorExplanation">
                            <h2><%= pluralize(@user.errors.count, "error") %> prohibited this post from being saved:</h2>

                            <ul>
                              <% @user.errors.full_messages.each do |message| %>
                                  <li><%= message %></li>
                              <% end %>
                            </ul>
                          </div>
                      <% end %>

						<td width="16%" height="20" class="formText">
							<%= f.label :email %>
						</td>
            <td>
            	<%= f.text_field :email %>
            </td>
            <td width="25%" rowspan="14" align="center" valign="top">
            	<%= image_tag "formPics1.png", :alt => "Register To Swap Your Whip!", :size => "151x250" %>
            </td>
          </tr>
          <tr>
						<td width="16%" height="20" class="formText">
							<%= f.label :first_name %>
						</td>
						<td>
							<%= f.text_field :firstname %>
						</td>
					</tr>
					<tr>
						<td width="16%" height="20" class="formText">
							<%= f.label :last_name %>
						</td>
						<td>
							<%= f.text_field :lastname %>
						</td>
					</tr>
					<tr>
						<td width="16%" height="20" class="formText">
							<%= f.label :phone %>
						</td>
						<td>
							<%= f.text_field :phone %>
						</td>
					</tr>
					<tr>
						<td width="16%" height="20" class="formText">
							<%= f.label :address %>
						</td>
						<td>
							<%= f.text_field :address %>
						</td>
					</tr>
					<tr>
						<td width="16%" height="20" class="formText">
							<%= f.label :address2 %>
						</td>
						<td>
							<%= f.text_field :address2 %>
						</td>
					</tr>
					<tr>
						<td width="16%" height="20" class="formText">
							<%= f.label :city %>
						</td>
						<td>
							<%= f.text_field :city %>
						</td>
					</tr>
					<tr>
						<td width="16%" height="20" class="formText">
							<%= f.label "State/Province" %>
						</td>
						<td>
							<%= f.select(:state, ['AK','AL','Alberta','AR','AZ','British Columbia','CA','CO','CT','DE','FL','GA','HI','IA','ID','IL','IN','KS','KY','LA','MA','Manitoba','MD','ME','MI','MN','MO','MS','MT','NC','ND','NE','New Brunswick','Newfoundland and Labrador','NH','NJ','NM','Nova Scotia','NV','NY','OH','OK','Ontario','OR','PA','Prince Edward Island','Quebec','RI','Saskatchewan','SC','SD','TN','TX','UT','VA','VT','WA','WI','WV','WY'], {:prompt => "-Select State/Province"}) %>
						</td>
					</tr>
					<tr>
						<td width="16%" height="20" class="formText">
							<%= f.label "Zip/Postal Code" %>
						</td>
						<td>
							<%= f.text_field :zip %>
						</td>
					</tr>
					<tr>
						<td width="16%" height="20" class="formText">
							<%= f.label :username %>
						</td>
						<td>
							<%= f.text_field :username %>
						</td>
					</tr>
					<tr>
						<td width="16%" height="20" class="formText">
							<%= f.label :password %>
						</td>
						<td>
							<%= f.password_field :password %>
						</td>
					</tr>
					<tr>
						<td width="16%" height="20" class="formText">
							<%= f.label :password_confirmation %>
						</td>
						<td>
							<%= f.password_field :password_confirmation %>
						</td>
					</tr>
					<tr>
						<td colspan="2">&nbsp;</td>
					</tr>
					<tr>
						<td>
							<%= image_submit_tag("update_button.jpg", :alt => "Update", :size => "79x28", :border => 0) %>
						</td>
						<td>&nbsp;</td>
          </tr>
          <tr>
            <td colspan="2">&nbsp;</td>
            <td align="center" valign="top">&nbsp;</td>
          </tr>
          <tr>
            <td colspan="3" class="infoText">
            	<%= link_to 'Create Listing', new_user_listing_path(@user) %>
            </td>
          </tr>
				</table>

			<% end %>

		</td>
	</tr>
</table>
