<script>

    jQuery(document).ready(function() {
        $(function() {

            $('#iagree').click(function() {
                if ($(this).is(':checked')) {
                    $('#submitButton').removeAttr('disabled');

                } else {
                    $('#submitButton').attr('disabled', 'disabled');
                }
            });
        });
    });

</script>


<div class="clear"></div>
<div id="content">
  <div class="page">
    <div class="rightcontent">
      <div class="contact"> <span>Find Your</span><span class="whip"> Whip</span>
        <div class="checkbox">
          <form action="#">
            <div class="question">
              <label class="question">01. What?</label>
              <div class="clear"></div>
              <div class="check">
                <input type="radio" name="autos"/>
                <label>Autos</label>
              </div>
              <div class="check">
                <input type="radio" name="autos"/>
                <label>Marine</label>
              </div>
              <div class="check">
                <input type="radio" name="autos"/>
                <label>Motorcycles</label>
              </div>
              <div class="check">
                <input type="radio" name="autos"/>
                <label>Power Sports</label>
              </div>
              <div class="clear"></div>
            </div>
            <div class="question">
              <label class="question">02. Category</label>
              <div class="select selectParent">
                <select>
                  <option>Select a category</option>
                  <option>category1</option>
                  <option>category2</option>
                  <option>category3</option>
                </select>
              </div>
              <div class="clear"></div>
            </div>
            <div class="question">
              <label class="question">03. Make and Model</label>
              <div class="select">
                <select class="leftselect">
                  <option>Select a Make</option>
                  <option>category1</option>
                  <option>category2</option>
                  <option>category3</option>
                </select>
                <select class="rightselect">
                  <option>Select a Model</option>
                  <option>category1</option>
                  <option>category2</option>
                  <option>category3</option>
                </select>
              </div>
              <div class="clear"></div>
            </div>
            <div class="question">
              <label class="question">04. State</label>
              <div class="select">
                <select>
                  <option>Select a State</option>
                  <option>category1</option>
                  <option>category2</option>
                  <option>category3</option>
                </select>
              </div>
              <div class="clear"></div>
            </div>
            <a href="#" class="advance">Advance Search</a>
            <input type="submit" class="submit" value="Search" />
          </form>
        </div>
      </div>
      <div class="ad1"> <img src="/assets/ad1.jpg" width="300" height="125" /> </div>
      <div class="ad2"> <img src="/assets/ad2.jpg" width="300" height="125" /> </div>
      <div class="ad3"> <img src="/assets/ad3.jpg" width="300" height="250" /> </div>
    </div>
    <div class="leftcontent"><img src="/assets/mainimage.png" width="725" height="276" class="twocolumns p_img"/>
      <div class="uppercontent"> <span class="boldclass">Register Now </span> <span>To Receive These Benefits</span>
        <div class="boldheadings">
          <p>&raquo; View All Listings For Free</p>
          <p>&raquo; Save your search criteria in a wishlist</p>
          <p>&raquo; Receive a Free Mailbox to correspond with other buyers, sellers, & Swappers</p>
          <p>&raquo; Receive Email Alerts when a Swap match is located</p>
        </div>
        <div class="clear"></div>
        <div class="contactwidget">
          <%= form_for(@user) do |f| %>
              <% if @user.errors.any? %>
                  <div id="errorExplanation">
                    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this post from being saved:</h2>

                    <ul>
                      <% @user.errors.full_messages.each do |message| %>
                          <li><%= message %></li>
                      <% end %>
                    </ul>
                  </div>
              <% end %>
              <div class="email">
                <label>Email*</label>
                <%= f.text_field :email, :size => 20 %>
                <span class="infoText">
			    <%#= link_to "Why do we need your email?", "../needemail.html", :popup => ['Swap My Whip - Vehicle Trading & Purchasing', 'height=400,width=400'] %>
			  </span>
              </div>
              <div class="firstname">
                <label>first name*</label>
                <%= f.text_field :firstname, :size => 20 %>
              </div>
              <div class="lastname">
                <label>last name*</label>
                <%= f.text_field :lastname, :size => 20 %>
              </div>
              <div class="phoneno">
                <label>phone</label>
                <%= f.text_field :phone, :size => 20 %>
              </div>
              <div class="address">
                <label>address*</label>
                <%= f.text_field :address, :size => 20 %>
              </div>
              <div class="address">
                <label>address 2</label>
                <%= f.text_field :address2, :size => 20 %>
              </div>
              <div class="city">
                <label>city*</label>
                <%= f.text_field :city, :size => 20 %>
              </div>
              <div class="city">
                <label>state*</label>
                <%= f.select(:state, ['AK','AL','Alberta','AR','AZ','British Columbia','CA','CO','CT','DE','FL','GA','HI','IA',
                                      'ID','IL','IN','KS','KY','LA','MA','Manitoba','MD','ME','MI','MN','MO','MS','MT','NC','ND',
                                      'NE','New Brunswick','Newfoundland and Labrador','NH','NJ','NM','Nova Scotia','NV','NY','OH',
                                      'OK','Ontario','OR','PA','Prince Edward Island','Quebec','RI','Saskatchewan','SC','SD','TN','TX',
                                      'UT','VA','VT','WA','WI','WV','WY'], {:prompt => "-Select State/Province", :class=>"sl_width"}) %>
              </div>
                <div>
                  <label style="width: 90px;">zip code*</label>
                  <%= f.text_field :zip, :size => 20 %>
                </div>

              <div class="desiredusername">
                <label>desired username*</label>
                <%= f.text_field :username, :size => 20 %>
              </div>
              <div class="password">
                <label>password*</label>
                <%= f.password_field :password, :size => 20 %>
                <p id="parsswordMargin">Enter 5-20 letters or numbers, case sensitive.</p>
              </div>
              <div class="confirmpassword">
                <label>confirm password*</label>
                <%= f.password_field :password_confirmation, :size => 20 %>
              </div>
              <div class="confirmpassword">
                <label>who referred you?*</label>
                <%= f.select(:referred_by, ['Billboard','Car Show','Car Signage','Clothing Item','Direct E-Mail','Search Engine',
                                            'Internet Site','Magazine Ad','Television','Radio','Friend/Family'],
                             {:prompt => "-How did you hear about us?"}) %>
              </div>
              </div>
              <div class="clear"></div>
              <p><b>We respect your privacy.  We will never email you without your consent.  Review our <a href="#">Privacy Poilicy.</a></b></p>
              <span>Terms Of Service</span>
              <div class="clear"></div>
              <div class="scroller">
                <p>Welcome to Swap My Whip.com, a Krause Capital, LLC. By using this website, you accept the terms of this agreement. This is a legally binding agreement between you and SwapMyWhip.com, so please read it carefully.</p>
                <ol>
                  <li> General Provisions
                    Swap My Whip.com  respects your privacy. Please take a moment to review our privacy statement.
                    We invite you to bring to our attention any material on our site that you believe to be inaccurate. Please forward a copy of the material to us at service@swapmywhip.com, along with an explanation of your objection.</li>
                </ol>
                <p> Welcome to Swap My Whip.com, a Krause Capital, LLC. By using this website, you accept the terms of this agreement. This is a legally binding agreement between you and SwapMyWhip.com, so please read it carefully.</p>
                <ol>
                  <li>General Provisions
                    Swap My Whip.com  respects your privacy. Please take a moment to review our privacy statement.
                    We invite you to bring to our attention any material on our site that you believe to be inaccurate. Please forward a copy of the material to us at service@swapmywhip.com, along with an explanation of your objection.</li>
                </ol>
              </div>
              <div class="accept">
                <%= check_box_tag "iagree", "iagree", false %> I agree to SwapMyWhip.com's Terms of Service.
              </div>
              <%= f.submit 'Register', :disabled => true, :id => "submitButton", :class => "sub" %>
          <%end%>
          <div class="clear"></div>
          </div>
    </div>
  </div>
</div>

<div class="clear"></div>
</div>

