<div class="clear"></div>
<div id="footer">
  <div class="page">
    <div class="footerpart">
      <ul>
        <h2>My Whip</h2>
        <li><%= link_to "My Account", login_path %></li>
        <li><%= link_to("My Listings", listings_url) %></li>
        <li><%= link_to("My Favorites", favorites_path) %></li>
      </ul>
    </div>
    <div class="footerpart">
      <ul>
        <h2>Support & Help</h2>
        <li><%= link_to("FAQ", faq_url) %></li>
        <li><a href="#">Support</a></li>
        <li><%= link_to("Contact Us", contact_url) %></li>
      </ul>
    </div>
    <div class="footerpart">
      <ul>
        <h2>Legal</h2>
        <li><%= link_to("Privacy Policy", privacypolicy_url) %></li>
        <li><%= link_to("Terms of Use", visitoragreement_url) %></li>
      </ul>
    </div>
    <div class="footerpart last">
    </div>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
</div>
<div class="clear"></div>
<div id="downfooter">
  <div class="page">
    <p class="leftp"> &copy; 2013 Swapmywhip.com, Inc. All Rights Reserved. <br />
      "Swapmywhip.com" is a registered trademark of Krause Capital, LLC used under exclusive license </p>
    <ul>
      <li><a href="#">Privacy policy</a></li>
      <li><a href="#">Terms Of Use</a></li>
      <li class="last"><a href="#">Contact Us</a></li>
    </ul>
    <div class="clear"></div>
  </div>
</div>