<%if current_user%>
<div id="content">
<div class="page">
<div class="rightcontent">
  <div class="ad1"> <img src="/assets/ad1.jpg" width="300" height="125" /> </div>
  <div class="ad2"> <img src="/assets/ad2.jpg" width="300" height="125" /> </div>
  <div class="ad3"> <img src="/assets/ad3.jpg" width="300" height="250" /> </div>
  <div class="ad3"> <img src="images/ad3.jpg" width="300" height="250" /> </div>
  <div class="ad3"> <img src="images/ad3.jpg" width="300" height="250" /> </div>
</div>
<div class="leftcontent">

  <div class="lsitarea"> <img width="725" height="276" class="twocolumns p_img" src="images/mainimage.png">

    <h1 class="headingh1">My <strong>Wishlist</strong></h1>

    <div class="pagination"> <span class="sort">Sort by:</span>
      <form action="#">
        <select>
          <option>Select Category</option>
        </select>
      </form>
      <div class="clear"></div>
    </div>
    <%unless @wishlists.blank?%>
    <% @wishlists.each do |wishlist| %>
    <div class="post">
      <div class="leftpost">
        <div class="middilepost">
          <div class="inline">
            <h2>
              <% if wishlist.listingtype == "auto" %>
                  <%= wishlist.min_year %> - <%= wishlist.max_year %> <%= wishlist.make %> <%= wishlist.model %>
              <% else %>
                  <%= wishlist.min_year %> - <%= wishlist.max_year %> <%= wishlist.category %>
              <% end %>
            </h2>
            <div class="clear"></div>
          </div>
          <p>Price: $<%=h wishlist.min_price %> - $<%=h wishlist.max_price %></p>
          <p>Category:  <%=h wishlist.category %></p>
          <p>Sub Category:  <%=h wishlist.subcategory %></p>
          <p>Body:  <%=h wishlist.body %></p>
          <p>
            <!--<a href="#">Modify Item &raquo;</a>-->
            <%= link_to "Delete Wishlist Item", wishlist_path(wishlist), :confirm => 'Are you sure?', :method=>:delete, :class=>"remove"%>
          </p>
        </div>
      </div>
      <div class="clear"></div>
    </div>
   <%end%>
  <%end%>
    <div class="post">
      <div class="">
        <div class="middilepost">
          <div class="inline">

            <div class="clear"></div>
          </div>

          <span></span>.</div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="clear"></div>



</div>
<div class="clear"></div>
<div class="smalllightbx" style="margin-left: 314px;"> <span>Create Another</span><span class="boldclass"> Wishlist Item:</span>
  <!--lightbox-->
  <style type="text/css">

      .overlay {
          background: url("/assets/magnifier.png") no-repeat scroll center 105px transparent;
          height: 199px;
          position: absolute;
          width: 351px;
          z-ind/ex: 9999;
          opacity:0;
      }

      .overlay h5 {
          display: block;
          font-family: Oswald;
          font-size: 49px;
          font-weight: bold;
          line-height: 125px;
          margin: 0;
          text-align: center;
      }
      .overlay:hover
      {
          opacity:1;
          background-color:rgba(0,0,0,.5)
      }
  </style>



  <div class="lightbox">
    <a href="wishlists/new_auto" rel="group" class="fancybox">
    <div class="overlay">
      <h5>AUTOMOTIVE</h5>
    </div>
    <img src="/assets/lightbox1.jpg" alt="" />
    </a>
    <a href="wishlists/new_marine" rel="group" class="fancybox">
    <div class="overlay">
      <h5>MARINE</h5>
    </div>
    <img src="/assets/lightbox2.jpg" alt="" />
    </a>
    <a href="wishlists/new_moto" rel="group" class="fancybox">
    <div class="overlay">
      <h5>MOTORCYCLE</h5>
    </div>
    <img src="/assets/lightbox3.jpg" alt="" />
    </a>
    <a href="wishlists/new_power" rel="group" class="fancybox">
    <div class="overlay">
      <h5>POWER SPORTS</h5>
    </div>
    <img src="/assets/lightbox4.jpg" alt="" />
  </a>
  </div>

  <!--lightbox-->
</div>
</div>
<div class="clear"></div>
</div>

<%else%>
    <div id="content">
      <div class="page">
        <div class="rightcontent">
          <div class="ad1"> <img src="/assets/ad1.jpg" width="300" height="125" /> </div>
          <div class="ad2"> <img src="/assets/ad2.jpg" width="300" height="125" /> </div>
          <div class="ad3"> <img src="/assets/ad3.jpg" width="300" height="250" /> </div>
          <div class="ad3"> <img src="images/ad3.jpg" width="300" height="250" /> </div>
          <div class="ad3"> <img src="images/ad3.jpg" width="300" height="250" /> </div>
        </div>
        <div class="leftcontent">
          <div class="lsitarea">
            <h1 class="headingh1">My <strong>Wishlist</strong></h1>
              <div class="clear"></div>
            </div>
          <!--<div class="post">-->
            <p><%= link_to "Register", new_user_path, {:style=>'color:#649D4A'} %> or <%= link_to "Log in", login_url, {:style=>'color:#649D4A'} %> to set up a "Wishlist".</p>
            <p>A Wishlist will work for you while you're away - enabling our team to help you find a Perfect Swap.</p>
          <!--</div>-->
          <div class="clear"></div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
<%end%>

