<div id="content">
  <div class="page">
    <div class="rightcontent">
      <div class="ad1"> <img src="/assets/ad1.jpg" width="300" height="125" /> </div>
      <div class="ad2"> <img src="/assets/ad2.jpg" width="300" height="125" /> </div>
      <div class="ad3"> <img src="/assets/ad3.jpg" width="300" height="250" /> </div>
    </div>
    <div class="leftcontent"> <span>Create new power sports wishlist item</span>
      <div class="lsitarea">
        <div class="pagination">

        </div>
        <p>
          <% if flash[:notice] %>
            <div class="notice"><%= flash[:notice] %></div>
        <% end %>
        </p>
        <div class="contactwidget">
          <%= form_for(@wishlist, :html => { :multipart => true }) do |f| %>
              <% if @wishlist.errors.any? %>
                  <div id="errorExplanation">
                    <h2><%= pluralize(@wishlist.errors.count, "error") %> prohibited this post from being saved:</h2>

                    <ul>
                      <% @wishlist.errors.full_messages.each do |message| %>
                          <li><%= message %></li>
                      <% end %>
                    </ul>
                  </div>
              <% end %>
              <%= f.hidden_field :listingtype, :value=>'power' %>

              <form action="#">
                <div class="year">
                  <%= f.label 'Year from:' %>
                  <%= f.text_field :min_year, :size => 10 %>
                </div>
                <div class="year_to">
                  <%= f.label 'Year to:' %>
                  <%= f.text_field :max_year, :size => 10 %>
                </div>
                <div class="category">
                  <%= f.label "Category:" %>
                  <%= f.collection_select :category, @powercategories, :category, :category, {:prompt => "-Select a Category"} %>
                </div>
                <div class="sub_category">
                  <%= f.label "Sub Category:" %>
                  <%= render :partial => 'powersubcategories_select' %>
                </div>
                <div class="make">
                  <%= f.label "Make:" %>
                  <%= f.collection_select :make, @powermakes, :make, :make, {:prompt => "-Select a Make-"} %>
                </div>
                <div class="price">
                  <%= f.label 'Price Min:' %>
                  <%= f.text_field :min_price, :size => 10 %>
                </div>
                <div class="price_max">
                  <%= f.label 'Price Max:' %>
                  <%= f.text_field :max_price, :size => 10 %>
                </div>
                <p>
                  <%= image_submit_tag "create_button.jpg", :alt => "Create", :size => "69x29", :border => 0 %>
                </p>
              </form>
          <% end %>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="clear"></div>
</div>

<script>
    $( document ).ready(function() {

        $('#wishlist_category').change(function() {
            if ($(this).val() == '')
            {
                $('#wishlist_subcategory').html( $('<option>No model provided for your make</option>'));
            }
            else {
                $.ajax({
                    type: "GET",
                    url: "/marinecategories/get_marinesubcategories?category=" + $(this).val(),
                    success: function(data){
                        if (data.content == 'None')  //handle the case where no state related to country selected
                        {
                            $('#wishlist_subcategory').empty();
                            $('#wishlist_subcategory').append( $('<option>No Subcategory provided for your Category</option>'));
                        }
                        else
                        {
                            $('#wishlist_subcategory').empty();
                            $('#wishlist_subcategory').append( $('<option>Select your Subcategory</option>'));
                            jQuery.each(data,function(i, v) {
                                $('#wishlist_subcategory').append( $('<option value="'+ data[i][1] +'">'+data[i][0] +'</option>'));
                            });
                        }
                    }
                });
            }
        });
    });
</script>
