<div id="content">
  <div class="page">
    <div class="rightcontent">
      <div class="ad1"> <img src="/assets/ad1.jpg" width="300" height="125" /> </div>
      <div class="ad2"> <img src="/assets/ad2.jpg" width="300" height="125" /> </div>
      <div class="ad3"> <img src="/assets/ad3.jpg" width="300" height="250" /> </div>
    </div>
    <div class="leftcontent"> <span>Create new motorcycle wishlist item</span>
      <div class="lsitarea">
        <div class="pagination">

        </div>
        <p>
          <% if flash[:notice] %>
            <div class="notice"><%= flash[:notice] %></div>
        <% end %>
        </p>
        <div class="contactwidget">
          <%= form_for(@wishlist, :html => { :multipart => true }) do |f| %>
              <% if @wishlist.errors.any? %>
                  <div id="errorExplanation">
                    <h2><%= pluralize(@wishlist.errors.count, "error") %> prohibited this post from being saved:</h2>

                    <ul>
                      <% @wishlist.errors.full_messages.each do |message| %>
                          <li><%= message %></li>
                      <% end %>
                    </ul>
                  </div>
              <% end %>
              <%= f.hidden_field :listingtype, :value=>'moto' %>

              <form action="#">
                <div class="year">
                  <%= f.label 'Year from:' %>
                  <%= f.text_field :min_year, :size => 10 %>
                </div>
                <div class="year_to">
                  <%= f.label 'Year to:' %>
                  <%= f.text_field :max_year, :size => 10 %>
                </div>
                <div class="category">
                  <%= f.label "Category:" %>
                  <%= f.collection_select :category, @motocategories, :category, :category, {:prompt => "-Select a Category"} %>
                </div>
                <div class="make">
                  <%= f.label "Make:" %>
                  <%= f.collection_select :make, @motomakes, :make, :make, {:prompt => "-Select a Make-"} %>
                </div>
                <div class="price">
                  <%= f.label 'Price Min:' %>
                  <%= f.text_field :min_price, :size => 10 %>
                </div>
                <div class="price_max">
                  <%= f.label 'Price Max:' %>
                  <%= f.text_field :max_price, :size => 10 %>
                </div>
                <p>
                  <%= image_submit_tag "create_button.jpg", :alt => "Create", :size => "69x29", :border => 0 %>
                </p>
              </form>
          <% end %>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="clear"></div>
</div>